.statistics {
  margin: 0 15px;
  padding: 15px 0 15px 0;
  /* width: 160px; */
  /* background: #ece6e6; */
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  padding-top: 4px;
  padding-bottom: 2px;
}

.statList {
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 14px;
  /* max-width: 70%; */
}

.item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding: 8px auto;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 20%, 94%);
}
